/* AppContainer styles */
.AppContainer {
  width: 100vw;
  height: 100vh;
  color: #000000;
  position: relative;
  margin-left: 0px;
  width: 98vw;
  height: 100vh;
  color: #000000;
  position: relative;
}
@media (max-width: 392px) {
  .AppContainer {
    margin-top: 40px;
  }
}

/* Content styles */
.Content {
  height: 100%;
  width: 100%; /* Changed to 100% */
  position: absolute;
  left: 20px;
  top: 0;
  padding: auto;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .xl\:text-5xl {
      width: 920px;
      font-size: 3rem;
      line-height: 1;
  }
}