  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  h3.welcome-text {
    color: rgb(5, 8, 70);
    font-size: 2vw;
    margin-left: 103px;
    margin-top: 178px;
    position: absolute;
    font-family: poppins;
  }

  .wrap {
    margin-left: 83px;
    margin-top: 207px;
    position: relative;
  }

  .text {
    font-size: 20vw;
    line-height: 0.8;
    color: rgb(5, 8, 70);
    text-transform: uppercase;
    font-weight: bold;
  }

  @media(max-width:500px){
    .wrap {
      margin-left: 59px;
      margin-top: 301px;
      position: relative;
      }
      h3.welcome-text {
        color: rgb(5, 8, 70);
        font-size: 3vw;
        margin-left: 68px;
        margin-top: 278px;
        position: absolute;
        font-family: poppins;
        }
  }